:root {
  --column-gap-30: 30px;
  --gap-10: 10px;
}

.filters-container {
  margin-bottom: 40px;
}

.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: var(--column-gap-30);
}

.align-filters {
  margin: 5px 0px 5px 0px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-10);
  justify-content: center;
}
