:root {
  --card-height-1: 550px;
  --card-width-1: 320px;
  --border-color-1: rgba(249, 237, 218, 1);
  --font-size-1: 22px;
  --gap-10: 10px;
  --gap-20: 20px;
  --margin-0: 0px;

  /* Image size */
  --image-width-1: 320px;
  --image-height-1: 450px;

  --hover-container-width-1: 200px;
  --padding-5: 5px;

  --background-hover-color-1: rgb(255, 255, 255);
  --font-color-hover-1: rgb(0, 0, 0);
}

.card-container {
  /* height: var(--card-height-1); */
  min-height: var(--card-height-1);
  width: var(--card-width-1);
  border: 1px solid var(--border-color-1);
  padding: 15px 12px 30px 12px;

  display: grid;
  gap: var(--gap-20);
}

.movie-image {
  width: var(--image-width-1);
  height: var(--image-height-1);
}

.poster-image {
  height: 100%;
  width: 100%;
}

.movie-title-header {
  font-size: var(--font-size-1);
  margin: var(--margin-0);
  width: 250px; 

  /* For Ellipsis */
  /* white-space: nowrap;  */
  /* overflow: hidden;/ */
  /* text-overflow: ellipsis; */
}

.movie-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}

.movie-title {
  padding: 0 15px;
}

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.movie-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10);
}

.star {
  height: 21px;
  width: 21px;
}

.hover-container {
  position: absolute;
  width: var(--hover-container-width-1);
  padding: var(--padding-5);
  word-wrap: break-word;
  background-color: var(--background-hover-color-1);
  color: var(--font-color-hover-1);
}

/* Common class */

.align-header {
  display: inline;
}
