#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */

  /* text-align: center; */

  /* Background color */
  --background-color-1: #000000; /* #000000 */
  /* font colors */
  --font-color-1: rgba(
    249,
    237,
    218,
    1
  ); /* rgba(249, 237, 218, 1);   rgb(41, 39, 35);*/
  --font-color-2: rgba(
    255,
    255,
    255,
    1
  ); /* rgba(255, 255, 255, 1)   rgb(30, 20, 20); */
}

.container {
  color: var(--font-color-1);
  background-color: var(--background-color-1);
  padding: 0 100px 0 100px;
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10px 0 10px;
  }
}